<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="POST" action="calculadora">
      <%= csrf_token_field %>
      <label>Operando 1</label>
      <input id="operando_1" type="text" name="operando_1"><br>
      <label>Operando 2</label>
      <input id="operando_2" type="text" name="operando_2"><br>
      <button type="submit" name="sumar"> Sumar </button>
      <button type="submit" name="restar"> Restar </button>
      <button type="submit" name="resetear_memoria"> Resetear Memoria </button>
      <input type="hidden" name="operaciones" value="0"/>
    </form>
    Resultado: <%= @resultado %>
    Cantidad de operaciones: <%= @operaciones%>

  </body>
</html>